<%
const $ = require('./snippets')

const page = {
  head: {
    title: '空白模板',
    keywords: [
      ...project.keywords,
    ],
    description: '',
    styles: [
      ...project.styles,
    ],
    scripts: [
      ...project.headScripts,
    ],
  },
  header: {},
  footer: {
    scripts: [
      ...project.scripts,
      './assets/vendors/echarts/4.5.0/dist/echarts.min.js',
    ]
  }
}
%>
<!DOCTYPE html>
<%- $.htmlStartTag('') %>
<head>
<%- $.head(page.head) %>
</head>
<body>
<div class="page">
  <div class="page-header">
    <%- $.header(page) %>
  </div>
  <div class="page-main">
    <div class="page-scroller">
      <br/>
      <div class="section" id="container" style="height:300px">
        

      </div>
    </div>
  </div>
  <div class="page-footer">
    <div class="bar">
      <div class="bar-main">
        <button class="btn btn-block btn-primary btn-pill" type="button">按钮</button>
      </div>
    </div>
  </div>
</div>

<%- $.footer(page.footer) %>
<script>
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
window.resize = myChart.resize;
option = {
    title: {
        text: '折线图'
    },
    color: ['#6a81fd', '#333'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
          type: 'cross',
          label: {
              backgroundColor: '#6a7985'
          }
      }
    },
    legend: {
      top: '3%',
      itemWidth:10,
      itemHeight:5,
      data:[{
          name:'名称1',
          icon:'roundRect',
          textStyle:{
              color:'#999',
          },
          itemHeight:1,
      },'名称2']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    // 保存图片
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['01','02','03','04','05','06','07','08','09','10'],
        
    },
    yAxis: {
        type: 'value',
        axisLine:{
          show:false, //不显示轴线
        },
        axisTick:{
          show:false, //不显示坐标轴刻度
        },
        axisLabel:{
          interval: 1, //坐标轴刻度标签间隔为4
        }
    },
    series: [
        {
            name:'名称1',
            type:'line',
            stack: '元',
            label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
            data:[220, 932, 901, 934, 1290, 1330, 1320, 942, 800, 834]
        },
        {
            name:'名称2',
            type:'line',
            stack: '元',
            data:[900, 932, 901, 734, 290, 130, 1420, 642, 800, 834]
        }
    ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>
</body>
<%- $.htmlEndTag() %>
